root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4
max_line_length = 80

[{*.rb,Gemfile,*.gemspec,Gemfile.lock}]
indent_style = space

[{*.yml,*.yaml}]
indent_style = space

[*.bat]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

[{**.min.js,**.min.css}]
indent_style = ignore
insert_final_newline = ignore
